<nav class="bg-blue-600 p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white font-bold text-2xl font-roboto mr-16">Health Tracker</div>
    <div class="flex space-x-6">
      <a routerLink="/list" routerLinkActive="active-link" class="nav-link" *ngIf="currentRoute !== '/list'">Workout List</a>
      <a routerLink="/form" routerLinkActive="active-link" class="nav-link" *ngIf="currentRoute !== '/form'">Add Workout</a>
      <a routerLink="/progress" routerLinkActive="active-link" class="nav-link">Progress</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
